// This file should *NOT* be checked into Version Control Systems!

secrets {
  mongoUser = "<ENTER MONGO USER>"
  mongoPassword = "<ENTER MONGO PASSWORD>"
  mongoConnectionStringPrefix = "<MONGO CONNECTION STRING PREFIX>"
// example mongoConnectionStringPrefix = "mongodb+srv://"
  mongoConnectionString = "<ENTER MONGO CONNECTION STRING>"
// example mongoConnectionString = "@tasky.abcdef.mongodb.net"
  jwtSecret = "<ENTER JWT SECRET>"
  jwtIssuer = "<ENTER JWT ISS>"
  jwtAudience = "users"
  s3AccessKeyId = "<ENTER S3 ACCESS KEY ID>"
  s3SecretAccessKey = "<ENTER S3 SECRET ACCESS KEY>"
  createApiKeyUser = "<ENTER CREATE API KEY USER>"
  createApiKeyPassword = "<ENTER CREATE API KEY PASSWORD>"
}

// Local MongoDB Instance Development
// sample fullConnectionString = "mongodb://localhost:27017/tasky?retryWrites=true&w=majority&directConnection=true"
// mongoUser = "localhost"
// mongoPassword = "27017"
// mongoConnectionStringPrefix = "mongodb://"
// mongoConnectionString = ""