// This file should *NOT* be checked into Version Control Systems!

secrets {
  mongoUser = "<ENTER MONGO USER>"
  mongoPassword = "<ENTER MONGO PASSWORD>"
// example mongoConnectionStringPrefix = "mongodb+srv://"
  mongoConnectionStringPrefix = "<MONGO CONNECTION STRING PREFIX>"
// example mongoConnectionString = "@tasky.abcdef.mongodb.net"
  mongoConnectionString = "<ENTER MONGO CONNECTION STRING>"
  jwtSecret = "<ENTER JWT SECRET>"
  jwtIssuer = "<ENTER JWT ISS>"
  jwtAudience = "users"
  s3AccessKeyId = "<ENTER S3 ACCESS KEY ID>"
  s3SecretAccessKey = "<ENTER S3 SECRET ACCESS KEY>"
// example  s3Endpoint = "w2d2.la5.idrivee2-10.com" // don't include the bucket name
  s3Endpoint = "<ENTER S3 ENDPOINT>"
// example s3SigningRegion = "us-la"
  s3SigningRegion = "<ENTER S3 SIGNING REGION>"
  createApiKeyUser = "<ENTER CREATE API KEY USER>"
  createApiKeyPassword = "<ENTER CREATE API KEY PASSWORD>"
}

// Local MongoDB Instance Development
// sample fullConnectionString = "mongodb://localhost:27017/tasky?retryWrites=true&w=majority&directConnection=true"
// mongoUser = "localhost"
// mongoPassword = "27017"
// mongoConnectionStringPrefix = "mongodb://"
// mongoConnectionString = ""