// This file should *NOT* be checked into Version Control Systems!

secrets {
  mongoUser = "<ENTER MONGO USER>"
  mongoPassword = "<ENTER MONGO PASSWORD>"
// example mongoConnectionStringPrefix = "mongodb+srv://"
  mongoConnectionStringPrefix = "<MONGO CONNECTION STRING PREFIX>"
// example mongoConnectionString = "@tasky.abcdef.mongodb.net" // include the `@`
  mongoConnectionString = "<ENTER MONGO CONNECTION STRING>"
// example jwtSecret = "abcdef12345"
  jwtSecret = "<ENTER JWT SECRET>"
// example jwtIssuer = "http://localhost:8080"
  jwtIssuer = "<ENTER JWT ISS>"
// example jwtAudience = "users"
  jwtAudience = "<ENTER JWT AUDIENCE>"
  s3AccessKeyId = "<ENTER S3 ACCESS KEY ID>"
  s3SecretAccessKey = "<ENTER S3 SECRET ACCESS KEY>"
// example  s3Endpoint = "w2d2.la5.idrivee2-10.com" // don't include the bucket name
  s3Endpoint = "<ENTER S3 ENDPOINT>"
// example s3SigningRegion = "us-la"
  s3SigningRegion = "<ENTER S3 SIGNING REGION>"
  createApiKeyUser = "<ENTER CREATE API KEY USER>"
  createApiKeyPassword = "<ENTER CREATE API KEY PASSWORD>"
}

// Local MongoDB Instance Development
// sample fullConnectionString = "mongodb://localhost:27017/tasky?retryWrites=true&w=majority&directConnection=true"
// mongoUser = "localhost"
// mongoPassword = "27017"
// mongoConnectionStringPrefix = "mongodb://"
// mongoConnectionString = ""

// Minio - Local AWS S3 Storage
// install Minio: https://min.io/open-source/download
// - Startup: minio server /Volumes/TRS-83/data
// - Dashboard: http://127.0.0.1:63009/browser
//  aws configure set aws_access_key_id <access-key-id>
//  aws configure set aws_secret_access_key <secret-access-key>
//  aws s3api list-buckets --endpoint-url http://127.0.0.1:9000
//  aws s3api create-bucket --bucket tasky --endpoint-url http://127.0.0.1:9000
//s3AccessKeyId = "<ENTER S3 ACCESS KEY ID>"
//s3SecretAccessKey = "<ENTER S3 SECRET ACCESS KEY>"
//s3Endpoint = "http://<YOUR_MACHINE_IP>:9000" // dont include bucket name
//s3SigningRegion = "us-la"  // Setup in dashboard

//  // IDriveE2 - Free Cloud AWS S3 Storage
//  // sign up for free account: https://app.idrivee2.com/signup
//  // Dashboard: https://app.idrivee2.com/region/LA/buckets/tasky/object-storage
//  s3AccessKeyId = "<ENTER S3 ACCESS KEY ID>"
//  s3SecretAccessKey = "<ENTER S3 SECRET ACCESS KEY>"
//  s3Endpoint = "<ENTER_ENDPOINT>.<ENTER_LA_SERVER>.idrivee2-10.com" // dont include bucket name
//  s3SigningRegion = "us-la"